.git
.gitignore
.DS_Store

.idea
.vscode
.zed
.cursor
.codex

app/.env
app/vendor
app/node_modules
app/storage/logs
app/storage/framework/cache
app/storage/framework/sessions
app/storage/framework/testing
app/storage/framework/views
app/bootstrap/cache/*.php

docs
*.md
