.DS_Store
Thumbs.db

.idea/
.vscode/
.zed/
.cursor/
.nova/
.codex/

*.log

.env
app/.env.testing
!.env.example

app/.env
app/.env.*
!app/.env.example

app/vendor/
app/node_modules/

app/public/build/
app/public/hot
app/public/storage

app/storage/*.key
app/storage/pail/
app/storage/logs/*
!app/storage/logs/.gitignore
app/storage/framework/cache/*
!app/storage/framework/cache/.gitignore
app/storage/framework/sessions/*
!app/storage/framework/sessions/.gitignore
app/storage/framework/testing/*
!app/storage/framework/testing/.gitignore
app/storage/framework/views/*
!app/storage/framework/views/.gitignore

app/bootstrap/cache/*.php
!app/bootstrap/cache/.gitignore

app/.phpunit.cache/
app/.phpunit.result.cache
app/auth.json
app/_ide_helper.php

docs/
